:root {
  --primary-color: #30333a;
  --secondary-color: #72676f;
  --accent1-color: #9a8d96;
  --accent2-color: #b0a6a7;
  --accent3-color: #b79d9b;
  --accent4-color: #51403d;
  --heading-font: ;
  --paragraph-font: ;
}
html{
  background-color: #30333a; 
}
nav{
  display: grid;
  grid-template-columns: 100px repeat(3 , 1fr);
  background-color: #72676f;
}
#first{
  grid-column: 1 2;
  width: 100%;
  border: 1px black;
  text-align: center;
}
#second{
  grid-column: 2 3;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  color: #b0a6a7;
  text-decoration: none;
}
#third{
  grid-column: 3 4;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  color: #b0a6a7;
  text-decoration: none;
}
#fourth{
  grid-column: 4 5;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  color: #b0a6a7;
  text-decoration: none;
}
#h1{
  text-align: center;
  z-index: 1;
  position: absolute;
  left: 35%;
  top: 30%;
  font-size: 40px;
  color: #b0a6a7;
}
main{
  background-color: #b79d9b;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  z-index: 0;
  padding: 10px 10px 0 10px;
}

.mySlides {
  display: none;
}

.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.button_row {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px auto 60px;
  padding-bottom: 50px;
}
.back_btn, .next_btn {
  background-color: #30333a;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid #b79d9b;
}
.back_btn:hover, .next_btn:hover {
  background-color: #b79d9b;
  border-color: #30333a;
}
.gallery {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 50px auto 20px;
  padding-top: 50px;
}
.picture_box {
  height: 375px;
  background-color: #30333a;
  border: 2px solid #b79d9b;
  border-radius: 10px;
}
.picture_box:hover {
  border-color: #30333a;
  background-color: #b79d9b;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
footer{
  background-color: #51403d;
  text-align: center;
  padding: 10px;
  color: #9a8d96;
}
